 .main-div{
    width: 900px; 
}


.about-me-div2{
   
   width: 900px;
   margin-top: 100px;
}

  

.section-1-div{
    font-size: 30px;
    font-weight: 500;
    color: azure;
    text-align: left;
   /*  background-color: black; */
    margin-top: 120px;
    
}


.div-1{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
}


.div-2{
    margin-top: 40px;
    color: azure;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 60rem;
   /*  background-color: blueviolet;   */
}

#subtitle{
    color: rgb(206, 206, 206);
    font-size: 15px;
}

.div-3{
    margin-top: -3rem;
   /*  background-color: black; */
    color: azure;
}

.exp-sec{
   /*  background-color: bisque; */
}


/* .text:nth-child(1),:nth-child(2),
  :nth-child(3),:nth-child(4),
  :nth-child(5){
   margin-bottom: 40px;
}  */