@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
 /*  margin: 0; */
  font-family: 'Fira Code', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./bg-img.jpg");
  background-size: cover;
  background-repeat:no-repeat; 
  background-attachment: fixed;
  
}

.home-div{
  
  width: auto;
  
}

.home-icons{
  color: azure;
  font-size: 35px;
  border-radius: 50px;
  margin: 10px;
}

.home-icons:hover{
  border-radius: 50%;
  border: 2px solid #C778DD;
}

span{
  color: #C778DD;
  text-decoration: none !important;
}

a, a:active, a:visited, a:focus, a:link{
  text-decoration: none !important;
  color: azure;
}

ul{
  padding: 20px 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  display: inline;
  margin: 20px;
  color: azure;
  width: auto;
 /*  background-color: blue; */
}

a:hover{
  color: rgb(156, 157, 157);
}

/* li:active{
  color: #C778DD;
  text-decoration: none !important;
} */

/* li:visited, li:link{
    text-decoration: none !important;
} */

.heading-div{
  display: flex;
  align-items: center;
  justify-content: center;
  color: azure;
  text-align: center;
  font-weight: 600;
  font-size: 37px;
  margin-top: 70px;
}

.header-subtitle{
  color: azure;
  line-height: 150%;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
}

Button{
  margin-top: 7vh;
  border: 2px solid #C778DD;
  padding: 8px 16px;
  gap: 10px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: azure;
  font-family: 'Fira Code', monospace;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover{
  background-color: #6a3c76;
  transition: linear .3s;
}

.logo-div{
  display: flex;
  align-items: center;
  justify-content: center;
 margin-top: 30px;
}

img{
  margin: 10px;
  margin-top: 5vh;
}

.about-me-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50rem;
}

.card-1{
  margin-right: 10rem;
}

.hero-section-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.img-div{
  margin-top: 3rem;
}



.card-title{
  font-size: 30px;
  font-weight: 500;
  color: azure;
}


.section-2-image{
  /* background-color: black; */
}

Table{
  color: azure;
  font-size: 16px;
  width: 100%;
  
}

table{
  width: 100%;
}

.thead{
  margin: 20rem;
}

th{
  text-align: left;
}

.hero-section2-div{
  margin-top: 3rem;
}

.skills-div{
  width: 50rem;
  margin-top: 1rem;
  margin-left: 25rem;
}

.footer-div{
  margin-top: 10rem;
  color: aliceblue;
  text-align: center;

}
